h1,
p {
  text-align: center;
  padding: 10px;
}


.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.img {
  width: 100%;
  height: 50% !important;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid !important;
}

.card {
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.main-footer {
  color: white;
  background-color: rgb(17, 16, 22);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center !important;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.col {
  padding-right: 100px;
  justify-content: center;
}

.form {
  padding: 40px;
}

.newpro {
  float: right;
  margin-bottom: 50px;
}

.editdel {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: center !important;
}


 .success-box {
    margin:50px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
  }
  
  .success-box img {
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
  }
  
  .success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
  }
  
  
  
  /* Rating Star Widgets Style */
  .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color: black; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#FFCC36;
  }